* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}
.background {
    background-image: linear-gradient(45deg,black, #FFF89A);
    height: 100vh;
    color: #fff;
    text-align: center;
}
.calculator {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.bt {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}
.bt:hover {
    background-color: black;
}

#result {
    font-family: 'Fredericka the Great', cursive;
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

.btgrey {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    margin: 3px;
    border: none;
    background-color: rgb(185, 182, 182);
    color:black;
}

.btgrey:hover {
    border: 3px solid orange;
    border-radius: 50%;
}

.btorange {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    margin: 3px;
    border: none;
    background-color: orange;
    color: white;
}

.btorange:hover {
    border: 3px solid rgb(185, 182, 182);
    border-radius: 50%;
}
